{% extends "base.html" %}

{% block title %}customer{% endblock %}

{% block content %}
    <h1>Customer Data</h1>
    <form action="{{ url_for('customer') }}" method="POST">
        <label for="search">Search for Customer:</label>
        <input type="text" name="search" id="search">
        <button type="submit">Search</button>
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>LIcence</th>
                <th>Phone</th>
                <th>ADDRESS</th>
                <th>FROM</th>
                <th>EXP:</th>
                <th>DOB:</th>
                <th>UPDATE:</th>  <!-- Add a new table header for actions -->
            </tr>
        </thead>
        <tbody>
            {% for customer in customer %}
            <tr>
                <td>{{ customer[1] }}</td>
                <td>{{ customer[2] }}</td>
                <td>{{ customer[3] }}</td>
                <td>{{ customer[4] }}</td>
                <td>{{ customer[5] }}</td>
                <td>{{ customer[6] }}</td>
                <td>{{ customer[7] }}</td>
                <td>
                    <a href="{{ url_for('update_customer', id=customer[0]) }}">Edit</a> <!-- Edit button -->
                    
                </td>
            </tr>
            {% endfor %}
            {% endblock %}
    
