{% extends "base.html" %}

{% block title %} Hire Details {% endblock %}

{% block content %}
<h1>Hire Details</h1>
<form action="{{ url_for('hire') }}" method="POST">
    <label for="search">Search for HIRER:</label>
    <input type="text" name="search" id="search">
    <button type="submit">Search</button>
</form>
    <table border="1">
        <thead>
            <tr>
                <th>Agreement Number</th>
                <th>Vehicle Registration</th>
                <th>NAME</th>
                <th>Out Date</th>
                <th>Out Mileage</th>
                <th>Out Location</th>
                <th>Out Time</th>
                <th>Out Fuel Reading</th>
                <th>In Due Date</th>
                <th>In Time</th>
                <th>In AdBlue</th>
                <th>In Mileage</th>
                <th>In Fuel Reading</th>
                <th>Extension to</th>
                <th>Hirer Signature</th>
                <th>On behalf of</th>
            </tr>
        </thead>
        
        <tbody>
            {% for hire in hires %}
            <tr>
                <td>{{ hire[0] }}</td> <!-- Assuming the first column is agreement_number -->
                <td>{{ hire[1] }}</td> <!-- Assuming the second column is vehicle_id -->
                <td>{{ hire[2] }}</td> 
                <td>{{ hire[3] }}</td> 
                <td>{{ hire[4] }}</td> 
                <td>{{ hire[5] }}</td> 
                <td>{{ hire[6] }}</td>
                <td>{{ hire[7] }}</td> <!-- Assuming the first column is agreement_number -->
                <td>{{ hire[8] }}</td> <!-- Assuming the second column is vehicle_id -->
                <td>{{ hire[9] }}</td> 
                <td>{{ hire[10] }}</td> 
                <td>{{ hire[11] }}</td> 
                <td>{{ hire[12] }}</td> 
                <td>{{ hire[13] }}</td>
                <td>{{ hire[14] }}</td> <!-- Assuming the first column is agreement_number -->
                <td>{{ hire[15] }}</td> <!-- Assuming the second column is vehicle_id -->
                <td>{{ hire[16] }}</td> 
                <td>{{ hire[17] }}</td> 
                <td>{{ hire[18] }}</td> 
                <td>{{ hire[19] }}</td> 
                <td>{{ hire[20] }}</td>
                <td>{{ hire[21] }}</td> 
                <td>{{ hire[22] }}</td>
                 <!-- Assuming the third column is customer_id -->
                <!-- Add more table cells for other hire details -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
