<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle hire app</title>
</head>
<body>
    <h1>Vehicle hire Management System</h1>

    <ul>
        <li><a href="/add_vehicles.html_">Add Vehicle</a></li>
        <li><a href="/add_customer.html">Add Customer</a></li>
        <li><a href="/add_hire.html">Add hire Agreement</a></li>
        <li><a href="/print_hire">Print Hire Agreement</a></li>
        
    </ul>
</body>
</html>