{% extends "base.html" %}

{% block content %}
<body>
    <h1>Vehicle hire Management System</h1>

    <ul>
        <li><a href="/add_vehicle">Add vehicles</a></li>
        <li><a href="/add_customer">Add Customer</a></li>
        <li><a href="/add_hire">Add hire Agreement</a></li>
        <li><a href="print_hire">Print Hire Agreement</a></li>
        <li><a href="/vehicle">vehicle</a></li>
        <li><a href="lessor">Lessor</a></li>
        <li><a href="customer">Customer</a></li>


    </ul>
</body>
{% endblock %}
