<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>PRINT HIRE</title>
</head>
<body>
    <h1>Hire Agreement</h1>
    <p>Agreement Number: {{ hire_details[0] }}</p>
    
    <h2>Customer Details</h2>
    <p>Name: {{ hire_details[15] }}</p>
    <p>License: {{ hire_details[16] }}</p>
    <p>Phone: {{ hire_details[17] }}</p>
    <p>Address: {{ hire_details[18] }}</p>
    <p>From: {{ hire_details[19] }}</p>
    <p>Exp: {{ hire_details[20] }}</p>
    <p>DOB: {{ hire_details[21] }}</p>
    
    <h2>Vehicle Details</h2>
    <p>Registration: {{ hire_details[6] }}</p>
    <p>Make: {{ hire_details[7] }}</p>
    <p>Model: {{ hire_details[8] }}</p>
    <p>Colour: {{ hire_details[9] }}</p>
    <p>Fuel: {{ hire_details[10] }}</p>
    
    <h2>Out (Agreement Starts)</h2>
    <p>Date: {{ hire_details[3] }}</p>
    <p>Mileage: {{ hire_details[4] }}</p>
    <p>Location: {{ hire_details[5] }}</p>
    <p>Time: {{ hire_details[6] }}</p>
    <p>Fuel Reading: {{ hire_details[7] }}</p>
    
    <h2>In (Agreement Ends)</h2>
    <p>Due Date: {{ hire_details[8] }}</p>
    <p>Time: {{ hire_details[9] }}</p>
    <p>AdBlue: {{ hire_details[10] }}</p>
    <p>Mileage: {{ hire_details[11] }}</p>
    <p>Fuel Reading: {{ hire_details[12] }}</p>
    <p>Extension to: {{ hire_details[13] }}</p>
    <p>Hirer Signature: {{ hire_details[14] }}</p>
    <p>On behalf of: {{ hire_details[15] }}</p>
    
    <button onclick="window.print()">Print Agreement</button>
</body>
</html>