{% extends "base.html" %}

{% block title %}Search Customer{% endblock %}

{% block content %}
<form action="/search" method="POST">
    <!-- Your form fields here -->
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="vehicle_details" placeholder="Vehicle Details">
    <input type="text" name="date_of_hire" placeholder="Date of Hire (YYYY-MM-DD)">
    <button type="submit">Search</button>
</form>

<h2 class="mt-4">Customer List</h2>
<ul class="list-group">
    {% for customer in customers %}
        <li class="list-group-item">
            {{ customer.name }} - {{ customer.vehicle_details }} - {{ customer.date_of_hire.strftime('%Y-%m-%d') }}
            <a href="/print/{{ customer.id }}" class="btn btn-secondary btn-sm float-right">Print</a>
        </li>
    {% endfor %}
    
</ul>

{% endblock %}